.Container {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.Input {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20vh;
  margin: 5px 10px 1px 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
}